@model IEnumerable<ProjectWebApp.Models.PaymentStatus>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>
<div class="d-flex justify-content-center align-items-center" style="height: 70vh; background: url('/images/back.jpg') no-repeat center center; background-size: cover;">
    <div class="container">
        <form asp-action="Index" method="get" class="form-inline mb-3">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control mr-sm-2" placeholder="Search Payments Status">
            <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
<p>
            @if (User.IsInRole("Admin") || User.IsInRole("Manger"))
            {
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            }
        </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus1)
            </td>
            <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PaymentStatusId">Edit</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PaymentStatusId">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PaymentStatusId">Delete</a>
                        }
                        else if (User.IsInRole("Manager") || User.IsInRole("Technician") || User.IsInRole("User"))
                        {
                           
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PaymentStatusId">Details</a>
                        }
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>