@model ProjectWebApp.Models.AppLog

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background: url('/images/back.jpg') no-repeat center center; background-size: cover;">

    <h3 class="text-center">Are you sure you want to delete this?</h3>
<div>
        <h4 class="text-center">AppLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>