@model ProjectWebApp.Models.Notification

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>
<div style="height: 70vh; background: url('/images/back.jpg') no-repeat center center; background-size: cover;">

<div>
        <h4 class="text-center">Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationStatus.NotificationStatus1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NotificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>